
/* ******************** */

.grid-temp {
  display: grid;
  grid-template-columns: 55% 45%;

  grid-template-rows: 400px;
  height: 400px;
}

#trainer-grid {
  display: grid;

  grid-template-columns: 20% 40% 40%;
  grid-gap: 5px;
  grid-template-rows: 20% 80%;
}

#trainer {
  height:390px;
  padding-left: 15px;


}

/* **************************** */


/* .s6 {

  height: 500px 500px;
}

.s12 {
  text-align: center;

} */


/* #trl {
  width: 20% !important;
  height: 350px;
}

#trp {
  width: 100px;
}

#trs {
  width: 60px;
} */



/* **************************************** */


#trainer {
  height: 650%;
  width: 90%;
}

h3 {
  text-align: center;
}

.carousel {
  /* padding-bottom: 15px; */
  /* height:501px; */
}

#trainer-grid {
  background-color: pink;
  height: 400px;
}

#trainer-grid div {
  padding: 15px;
}


#poke-grid {
  background-color: green;
  margin-top: -29px;
  height: 400px;
  width: auto;

/* **************************************** */


#trainer {
  height: 50%
}

#bat {
  background-color: green;
}
